@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

div {
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
}

h1 {
    font-size: 5vw;
    font-weight: normal;
}

header {
    grid-area: header;
    top: 300px;
    width: inherit;
    background-color: #FFFFFF;
    z-index: 1;
    height: 70px;
}

nav {
    grid-area: nav;
    width: inherit;
    z-index: 1;
    clear: both;
    display: table;
}

main {
    grid-area: main;
    margin-top: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.right {
    grid-area: right;
    background-color: #FFFFFF;
    height: 60vh;
    width: 100%;
    overflow: scroll;
}

footer {
    grid-area: footer;
    background: #fdb338;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: right;
}

#indexGrid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas: 'header' 
                         'nav' 
                         'main'
                         'right'
                         'footer';
}

#downGrid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas: 'header'
                         'nav'
                         'main'
                         'games'
                         'footer';
}

#mindGrid {
    display: grid;
    grid-template-areas: 'header'
                         'nav'
                         'mindImages'
                         'charityMain'
                         'footer';
}

#youngGrid {
    display: grid;
    grid-template-areas: 'header'
                         'nav'
                         'youngImages'
                         'charityMain'
                         'footer';
}

#contactsGrid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas: 'header' 
                         'nav' 
                         'form' 
                         'main' 
                         'footer';
}

body {
    margin: 0;
    background-image: url("pics/backgroundTileSmall.png");
    background-repeat: repeat;
    background-size: initial;
    color: #ffffff;
    position: relative;
    min-height: 100vh;
}

.HTJLogo {
    width: 210px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.topColumn {
    float: left;
    width: 25%;
    height: 5vh;
}

.topRow {
    clear: both;
    display: flex;
}

.topButton {
    height: 50px;
    width: 100%;
    background: #fdb338;
    color: #000000;
    margin-bottom: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: thick;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.85vw;
}

    .topButton:hover {
        background: #000000;
        color: #fdb338;
    }

.topDropBtn {
    height: 50px;
    width: 100%;
    background: #fdb338;
    color: #000000;
    border-color: #000000;
    border-style: solid;
    border-width: thick;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.85vw;
}

.dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
    font-size: 2vw;
}

    .dropdown-content a {
        background: #fdb338;
        color: black;
        padding: 12px 0px;
        text-decoration: none;
        text-align: center;
        display: block;
    }

        .dropdown-content a:hover {
            background: #000000;
            color: #fdb338;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .topDropBtn {
    background: #000000;
    color: #fdb338;
}

.copyright {
    align-content: end;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #000000;
    margin: 10px;
}

.lblContacts {
    font-size: 5vw;
    margin-left: 10px;
}

.lblEmail {
    font-size: 3vw;
    margin-left: 10px;
}

.socialImgBlock {
    text-align: center;
    margin-bottom: 50px;
}

.socialImage {
    width: 20%;
    height: inherit;
    padding: 10px;
}

#contactForm {
    grid-area: form;
    font-family: 'Press Start 2P', cursive;
    background-color: #025196;
    margin-top: 5%;    
}

.formDiv {
    margin-top: 40px;
}

#btnSubmit {
    height: 50px;
    width: 100%;
    background: #fdb338;
    color: #000000;
    margin-bottom: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: thick;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.85vw;
    margin-top: 20px;
}

    #btnSubmit:hover {
    background: #000000;
    color: #fdb338;
    }

input {
    width: 100%;
    height: 3vh;
    margin-top: 10px;
}

#info {
    text-align: left;
    margin: 20px;
    font-size: 3vw;
}

.anyBG { /* For any div that needs a background */
    background-color: #025196;
    background-clip: content-box;
    padding: 10px;
}

.Ws { /* Where and when labels on homepage */
    text-align: left;
    margin: 20px;
    font-size: 3vw;
    float: none;
}

.placeTime { /* Location and time labels on homepage */
    text-align: left;
    margin: 20px;
    font-size: 3vw;
    position: relative;
    float: none;
}

.downText { /* Text on downloads page */
    font-size: 3vw;
}

#gamesGrid {
    grid-area: games;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8vw;
    justify-content: center;
    margin-bottom: 100px;
}

.downSect {
    width: 40vw;
    height: 10vh;
}

.downPic {
    width: 40vw;
    height: 10vh;
    position: absolute;
    z-index: 0;
}

.gameCaption {
    height: 8vw;
    width: 8vw;
    background-image: url('pics/picInfo.png');
    overflow: hidden;
    background-size: cover;
    font-size: 0px;
    position: absolute;
    z-index: 2;
}

    .gameCaption:hover {
        height: inherit;
        width: inherit;
        background-image: none;
        background-size: cover;
        color: #ffffff;
        background-color: #000000;
        text-align: center;
        font-size: 2vw;
        line-height: 1.5;
    }

.youngImages {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
}

.charityPic {
    width: 100%;
}

.mindImages {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
}

.charityLogo {
    height: 6vw;
    z-index: 1;
    position: absolute;
    bottom: 0;
}

.charityText {
    text-align: center;
}

.charityMain {
    text-align: center;
}

.btnDonate {
    height: 50px;
    width: 50%;
    background: #fdb338;
    color: #000000;
    margin-bottom: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: thick;
    font-family: 'Press Start 2P', cursive;
    font-size: 3vw;
    margin-bottom: 7.5vh;
}

    .btnDonate:hover {
        background: #000000;
        color: #fdb338;
    }

.mobileHide {
    display: none;
}

@media only screen and (min-width: 600px) {

    body {
        background-image: url("pics/backgroundTile.png");
    }

    #indexGrid {
        display: grid;
        grid-template-columns: 80vw 20vw;
        grid-template-areas: 'header header' 
                             'nav nav'
                             'main right'
                             'footer footer';
    }

    #contactsGrid {
        display: grid;
        grid-template-columns: 30vw 70vw;
        grid-template-areas: 'header header'
                             'nav nav' 
                             'main form'
                             'footer footer';
    }

    main {
        margin-top: 5px;
    }

    h1 {
        font-size: 3vw;
    }

    #info {
        font-size: 1.25vw;
    }

    .right {
        height: 80vh;
    }

    .lblContacts {
        font-size: 2vw;
    }

    .lblEmail {
        font-size: 1vw;
    }

    .HTJLogo {
        width: 300px;
        height: 100px;
        float: left;
    }
    
    header {
        height: 100px;
    }

    .topButton {
        font-size: 2.1vw;
        float: left;
    }

    .topDropBtn {
        font-size: 2.2vw;
    }

    footer {
        height: 70px;
    }

    .copyright {
        font-size: 16px;
    }

    #contactForm {
        font-size: 1.5vw;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .formDiv {
        justify-content: left;
    }

    input {
        float: right;
        width: 45%;
        margin-top: 0px;
    }
    .Ws {
        font-size: 1.25vw;
        float: left;
    }

    .placeTime {
        font-size: 1.25vw;
        position: relative;
        float: right;
    }

    #gamesGrid {
        grid-template-columns: auto auto auto auto;
        grid-gap: 4vw;
        justify-content: center;
    }

    .downText {
        font-size: 1.25vw;
    }

    .downSect {
        width: 20vw;
        height: 20vh;
    }

    .downPic {
        width: 20vw;
        height: 20vh;
    }

    .gameCaption {
        width: 3.5vw;
        height: 3.5vw;
    }

        .gameCaption:hover {
            font-size: 1vw;
        }

    .youngImages {
        grid-template-columns: 50% 50%;
    }

    .mindImages {
        grid-template-columns: 60% 40%;
    }

    .charityText {
        font-size: 1.5vw;
    }

    .btnDonate {
        width: 30vw;
        font-size: 2vw;
        margin-bottom: 12vh;
    }

    .mobileHide {
        display:inherit;
    }
}