@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');    /* "Press Start 2P" by CodeMan38 from Google Fonts */

div {
    font-family: 'Montserrat', sans-serif;
    line-height: 0.2;
    font-size: 16px;
}

h1 {
    font-size: 5vw;
    font-weight: normal;
}

header { 
    grid-area: header; 
    width: inherit; 
    background-color: #000000; 
    z-index: 1; 
    height: 70px;
    align-items: center;
    display: flex;
}

nav { 
    grid-area: nav;
    width: inherit;
    background-color: #000000;
    z-index: 1;
    display: table; 
    align-items: center;
}

main { 
    grid-area: main;
    text-align: center;
}

#homeBigPic {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

#btnWelcome {
    height: 50px;
    width: 40%;
    background: #fdb338;
    color: #000000;
    margin-bottom: 10px; 
    border-color: #000000;
    border-style: solid;
    border-width: thick;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5vw;
}

    #btnWelcome:hover { 
        background: #000000;
        color: #fdb338;
    }

.right { 
    grid-area: right;
    height: 60vh;
    width: 100%;
}

.contentBox {
    padding: 0px 20px 0px 20px;
}

footer {
    grid-area: footer;
    background: #000000;
    height: 50px;
    width: 100%; 
    position: absolute; 
    bottom: 0;
    text-align: center;
}

#indexGrid {   
    display: grid;  
    grid-template-columns: 100%;  
    grid-template-areas: 'header'   
                         'nav' 
                         'main'
                         'right'
                         'footer';
}

body { 
    margin: 0;
    background-color: #b00202; 
    background-repeat: repeat; 
    background-size: initial;
    color: #ffffff;
    position: relative;
    min-height: 100vh; 
}

h2 {
    font-size: 15vw;
}

#SelfLogo { 
    width: 50px;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

#name {
    height: 37px;
    top: 50%;
}

.centerWrapper {
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

.topButton {
    height: 35px;
    width: 25%;
    background: #FFFFFF;
    color: #000000;
    margin-bottom: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: thick;
    border-radius: 12px;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.85vw;
    transition: all .2s ease-in-out;
}

    .topButton:hover { 
        color: #b00202;
        transform: scale(1.1);
    }

.copyright { 
    align-content: center;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #ffffff;
    margin: 10px;
    line-height: 1.6;
}

.mobileHide { 
    display: none;
}

.desktopHide {  
    display: inherit;
}

@media only screen and (min-width: 600px) and (max-width: 768px) { 

    .right {
        height: 1000px;
    }

    .copyright {
        font-size: 14px;
    }

    footer {
        height: 75px;
    }
}

@media only screen and (min-width: 769px) {

    body {
        background-image: url("pics/backgroundTile.png");
    }

    div {
        font-size: 22px;
    }

    #indexGrid {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        grid-template-areas: 'header header header' 
                             'main right right'
                             'footer footer footer';
    }

    main {
        margin-top: 5px;
    }
    nav {
        margin-left: auto;
        margin-right: 20px;
    }

    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 6vw;
    }

    .right {
        height: 80vh;
    }

    #SelfLogo {
        width: 100px;
        height: 100px;
    }

    #name {
        height: 75px;
    }
    
    header {
        height: 100px;
    }

    .topButton {
        font-size: 1.5vw;
        float: left;
        width: auto;
        height: auto;
        padding-block: 4px;
    }

    footer {
        height: 70px;
    }

    .copyright {
        font-size: 16px;
    }

    .mobileHide {
        display:inherit;
    }

    .desktopHide {
        display: none;
    }
}